* {
  font-size: 14px;
}

h1,
p {
  margin: 0;
}

.pin,
.drawer,
.highlights {
  --gray: #666;
  --gray-hover: #444;
  z-index: 1000;
}

button {
  cursor: pointer;
}

@keyframes fadein {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes slideup {
  0% {
    transform: translateY(8px);
  }
  100% {
    transform: translateY(0px);
  }
}

/** Pin */

.pin {
  width: 48px;
  height: 48px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 100%;
  background-color: var(--primary);
  transition: background-color 0.2s ease-in-out;
  color: white;
  position: fixed;
  border: none;
  bottom: 12px;
  right: 12px;
}

.pin:hover {
  background-color: var(--primary-hover);
}

.pin img {
  display: block;
  width: 32px;
  height: 32px;
}

.pin-bubble-content {
  line-height: 1.4;
  width: fit-content;
  padding: 4px 6px;
}

.pin-bubble-container {
  position: fixed;
  bottom: 66px;
  right: 8px;
  border-radius: 6px;
  box-sizing: border-box;
  width: fit-content;
  max-width: calc(100% - 38px);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  z-index: 1001;
  padding: 4px;
  background-color: var(--primary-darker);
  color: #fff;
  transition:
    opacity 0.2s,
    transform 0.2s;
}

.pin-bubble-container::after {
  position: absolute;
  top: 100%;
  right: 22px;
  content: " ";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid var(--primary-darker);
}

.pin-bubble-container.active {
  transform: translate3d(0, 0, 0);
  pointer-events: all;
}

.pin-bubble-container.inactive {
  opacity: 0;
  transform: translate3d(0, 10px, 0);
  pointer-events: none;
}

.pin-bubble-button {
  height: 32px;
  flex: 0 0 32px;
  border: 0;
  color: white;
  cursor: pointer;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: none;
}

.pin-bubble-button svg {
  width: 100%;
  height: 100%;
  fill: white;
}

.pin-bubble-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.pin-bubble-button:focus {
  outline: none;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.2);
}

/** Drawer */

.drawer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transform: translateY(100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.drawer-open {
  transform: translateY(0%);
  animation: fadein 0.3s normal forwards ease-in-out;
}

.drawer-content {
  background-color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 20px;
}

.drawer-open .drawer-content {
  animation: slideup 0.3s normal forwards ease-in-out;
}

.drawer-content > * {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.drawer-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  z-index: 20;
  gap: 20px;
}

/** Only add spacing margins from the third child onwards (as the first child is the dialog container) */
.drawer-content > * + * + * {
  margin-top: 25px;
}

/* Header */

.drawer-header {
  text-align: center;
}

.drawer-header > * + * {
  margin-top: 4px;
}

.drawer-header h1 {
  font-size: 18px;
  font-weight: 500;
}

.drawer-header p {
  font-size: 14px;
  color: var(--gray);
}

/* Buttons */

.drawer-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.drawer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  color: #333;
  transition: background-color 0.2s ease-in-out;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.07);
}

.drawer-button svg {
  flex: 0 0 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
}

.drawer-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.drawer-button:disabled {
  opacity: 0.5;
}

.drawer-button:disabled:hover {
  background-color: rgba(0, 0, 0, 0.07);
}

/* Footer */

.drawer-footer {
  text-align: center;
}

/** Discrete button */

.discrete-button {
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
  color: var(--gray);
}

.discrete-button svg {
  flex: 0 0 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
}

.discrete-button:hover {
  color: var(--gray-hover);
}

/* Success message */

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.success-message svg {
  color: green;
  width: 14px;
  height: 14px;
  display: inline-block;
  margin-right: 4px;
}

/** Error message */

.error-message {
  color: red;
  text-align: center;
}

/** Confirmation */

.confirmation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 20px;
}

.confirmation p {
  text-align: center;
}

.confirmation-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.confirmation-buttons > * {
  border: none;
}

.confirm-button {
  background-color: var(--primary);
  color: white;
  border-radius: 4px;
  padding: 2px 6px;
}

.confirm-button:disabled {
  opacity: 0.5;
}

.confirm-button:hover {
  background-color: var(--primary-hover);
}

.cancel-button {
  background: none;
  color: var(--gray);
  border-radius: 4px;
  padding: 2px 6px;
}

.cancel-button {
  color: var(--gray-hover);
}

/** Highlights */

@keyframes ping {
  0% {
    box-shadow: 0 0 0 0
      rgba(var(--highlightR), var(--highlightG), var(--highlightB), 0.8);
  }
  70% {
    box-shadow: 0 0 0 8px
      rgba(var(--highlightR), var(--highlightG), var(--highlightB), 0);
  }
}

.highlight {
  position: absolute;
  pointer-events: none;
  animation: ping 1.5s cubic-bezier(0, 0, 0.2, 1) infinite;
}
