@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  div[data-theme="light"] {
    --font-family: "Neue Haas Grotesk", sans-serif;

    --primary-80: 0 2 9 / 0.8;
    --primary-60: 0 2 9 / 0.6;
    --primary-40: 0 2 9 / 0.4;
    --primary-20: 0 2 9 / 0.2;
    --primary-10: 0 2 9 / 0.1;
    --primary-5: 0 2 9 / 0.05;
    --primary-1: 0 2 9 / 0.01;

    --secondary-80: 255 255 255 / 0.85;
    --secondary-60: 255 255 255 / 0.65;
    --secondary-40: 255 255 255 / 0.45;
    --secondary-20: 255 255 255 / 0.25;
    --secondary-10: 255 255 255 / 0.15;
    --secondary-5: 255 255 255 / 0.08;
    --secondary-1: 255 255 255 / 0.01;

    --accent: 28 99 218;
    --accent-20: 28 99 218 / 0.2;
    --background: 220 220 220 / 0.9;
    --overlay: 0 2 9 / 0.4;

    --warning-primary: 220 159 3;
    --warning-secondary: 255 242 209;
    --error-primary: 157 3 3;
    --error-secondary: 255 223 230;
  }

  div[data-theme="dark"] {
    --font-family: "Neue Haas Grotesk", sans-serif;

    --primary-80: 255 255 255 / 0.85;
    --primary-60: 255 255 255 / 0.65;
    --primary-40: 255 255 255 / 0.45;
    --primary-20: 255 255 255 / 0.25;
    --primary-10: 255 255 255 / 0.15;
    --primary-5: 255 255 255 / 0.08;
    --primary-1: 255 255 255 / 0.01;

    --secondary-80: 0 2 9 / 0.8;
    --secondary-60: 0 2 9 / 0.6;
    --secondary-40: 0 2 9 / 0.4;
    --secondary-20: 0 2 9 / 0.2;
    --secondary-10: 0 2 9 / 0.1;
    --secondary-5: 0 2 9 / 0.05;
    --secondary-1: 0 2 9 / 0.01;

    --accent: 174 202 255;
    --accent-20: 174 202 255 / 0.25;
    --background: 0 2 9 / 0.9;
    --overlay: 0 2 9 / 0.4;

    --warning-primary: 255 214 108;
    --warning-secondary: 95 65 29;
    --error-primary: 255 133 162;
    --error-secondary: 94 4 4;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
