.file-upload {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background: #efefef;
  border: 1px dashed grey;
  cursor: pointer;
}

.file-upload-drag-over {
  border-color: blue;
}

.file-input-custom {
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 10px;
}

.file-input-custom-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}

.file-input-name {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}

.file-input-button-icon {
  height: auto;
  width: 20px;
}

.circular-progress-bar {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-ring__circle {
  transition: stroke-dashoffset 0.35s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
